<mat-toolbar color="primary" class="fixed-top">
  <mat-toolbar-row>
      <span>
        <a routerLink="/"><img class="navbar-brand" style="max-width:64px;margin-left: -20px"
                               src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Flipboard_logo.svg/512px-Flipboard_logo.svg.png"></a>
      </span>
    <span>
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/profile" *ngIf="auth.isAuthenticated()">Profile</button>
        <button mat-button *ngIf="auth.isAuthenticated()" (click)="!auth.logout()">Logout</button>
        <button mat-button class="nav-link" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</button>

    </span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<br>

<router-outlet></router-outlet>


