<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="prevPage()">Previous</a></li>

    <li class="page-item " *ngFor="let num of maxPages" [ngClass]="{'active': num == this.page}">
      <a class="page-link " (click)="setPage(num)">{{num}}</a>
    </li>
    <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>

    <li class="page-item"><a>
      <form #f="ngForm" class="form-inline my-2 my-lg-0 pull-right"  (ngSubmit)="onSubmit(f)" novalidate>
      <input class="form-control mr-sm-2"
             type="search" placeholder="Search"
             name="text" aria-label="Search" ngModel required>
      <button class="btn btn-primary">Search</button>
    </form>
    </a></li>
  </ul>
</nav>


<div class="card text-center" style="margin: 1.5% 0%"
     *ngFor="let post of posts?.slice(this.page*10,this.page*10+10);let p=index;">
  <div class="card-header"><h3>{{post['_source'].title}}</h3></div>

  <div class="row">
    <div class="col-md-8">
      <div class="card-block">
        <p class="text-justify lead" style="padding: 2%" *ngIf="!post.displayText">{{post['_source'].summary}}</p>
        <p class="text-justify lead" style="padding: 2%" *ngIf="post.displayText">{{post['_source'].text}}</p>

        <button href="#" class="btn btn-primary " (click)="switchText(post)">Read More</button>
        <button href="#" class="btn btn-primary " (click)="switchComment(post)" *ngIf="auth.isAuthenticated()">Comment
        </button>
        <button class="btn fa fa-heart fa-3" style="color: red" aria-hidden="true" (click)="incrementUpvotes(post)"
                *ngIf="auth.isAuthenticated()"> {{post['_source'].upvotes}}
        </button>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card-img-bottom">
        <img src="{{post['_source'].image}}" style="width: 100%" class="rounded float-right" alt="...">

      </div>
    </div>
  </div>

  <div class="container-fluid"        *ngIf="post.displayComment">
  <div class="card-footer text-muted"
       *ngFor="let comment of post['_source'].comments;let i=index;"
  >
    <app-comment [pid]="post['_id']"
                 [uid]="uid"
                 [comment]="comment"

                 (notify)="onNotify($event,p,i)"
    ></app-comment>
  </div>

    <div class="card-footer text-muted">

    <app-comment [pid]="post['_id']"
               [uid]="uid"
               (notify)="onNotify($event,p,-1)"
               [(comment)]="newComment"
               *ngIf="post['_source'].comments.length<2">
    </app-comment>
  </div>
  </div>
</div>

<br>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="prevPage()">Previous</a></li>

    <li class="page-item " *ngFor="let num of maxPages" [ngClass]="{'active': num == this.page}">
      <a class="page-link " (click)="setPage(num)">{{num}}</a>
    </li>
    <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
  </ul>
</nav>
