<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="{{profile?.picture}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{profile?.nickname}}</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item active">Subscriptions</li>
          <li class="list-group-item" *ngFor="let sub of profileData?.subscription">{{sub.replace("http://","")}}</li>
        </ul>

        <button class="btn btn-primary" (click)="showFullData=!showFullData">Show Full Profile</button>
        <pre class="full-profile" *ngIf="showFullData">{{ profile | json }}</pre>



      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <div class="list-group">
            <a href="#" class="list-group-item active">Comments</a>
            <a href="#" class="list-group-item list-group-item-action" *ngFor="let comment of profileData?.comment">
              {{comment}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
