<mat-card>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top"
             src="{{profile?.picture}}"
             alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{profile?.nickname}}</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item active">Subscriptions</li>
          <li class="list-group-item"
              *ngFor="let sub of profileData?.subscription">
            {{sub.replace("http://","")}}
          </li>

          <li class="list-group-item"
              *ngIf="profileData?.subscription.length==0">
            No Subscriptions
          </li>

          <li class="list-group-item ">
            <button class="btn btn-info"
                    data-toggle="modal"
                    data-target=".bd-example-modal-lg">
              Edit Subscriptions
            </button>
          </li>

        </ul>

        <button class="btn btn-primary"
                (click)="showFullData=!showFullData">
          Show Full Profile
        </button>
        <pre class="full-profile"
             *ngIf="showFullData">{{ profile | json }}</pre>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg"
         tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <mat-selection-list>
            <mat-list-item style="background: antiquewhite">Available Topics</mat-list-item>
            <!--<mat-list-item><button mat-button color="primary" (click)="addSubsctiption([''])">Refresh</button></mat-list-item>-->
            <!--<mat-list-item><app-tag [tagText]="'Request new Susbcription...'" [Fruits]="[]" (notify)="addSubsctiption($event)"></app-tag></mat-list-item>-->
            <mat-list-option *ngFor="let topic of topics;let i=index;"
                             selected="{{topic.sub}}"
                             (click)="handleSubscrption(i)">{{topic.link}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>


    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-block">
              <mat-card class="list-group-item active">Favorited Posts</mat-card>
              <mat-card *ngIf="hearts?.length==0">No Favorited Posts</mat-card>
              <mat-grid-list cols="2" rowHeight="{{hearts?.length==0?0:610}}px">
                <mat-grid-tile *ngFor="let text of hearts" style="border: medium">
                  <mat-card style="margin:10px;">
                    <mat-card-header>
                      <mat-card-title style="font-size: large;height:45px;">{{text['title']}}</mat-card-title>
                      <mat-card-subtitle *ngIf="text['tags'] && text['tags'].length>0">
                        <mat-chip-list #chipList>
                          <mat-chip *ngFor="let tag of text['tags'];let i=index;"
                                    color="{{colors[i%colors.length]}}"
                                    selected="true">{{tag}}
                          </mat-chip>
                        </mat-chip-list>

                      </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{text['image']}}" style="max-height: 300px">
                    <mat-card-content style="height:200px;overflow: scroll">{{text['summary']}}</mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="card">
            <div class="card-block">
              <div class="list-group">
                <mat-card class="list-group-item active">Comments</mat-card>
                <a  class="list-group-item list-group-item-action" *ngIf="profileData?.comments.length==0">No comments to Display</a>
                <a class="list-group-item list-group-item-action" *ngFor="let comment of profileData?.comments">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title>{{comment?.uid}}</mat-card-title>

                    </mat-card-header>
                    <mat-chip-list>
                      <mat-chip color="primary" selected="true" *ngIf="comment">{{comment.timestamp|amTimeAgo}}
                      </mat-chip>
                      <mat-chip color="accent" selected="true"> {{comment?.pid}}</mat-chip>
                    </mat-chip-list>
                    <br>

                    <mat-card-content style="font-size: large">{{comment?.text}}</mat-card-content>

                  </mat-card>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="card">
            <div class="card-block">
              <div class="list-group">
                <mat-card class="list-group-item active">Recommendations</mat-card>
                <div *ngIf="this.profile">
                  <app-recommendations [user]="this.profile.nickname"></app-recommendations>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>


      </div>


    </div>


  </div>
</mat-card>


