
<mat-card  *ngIf="auth.isAuthenticated()">



  <mat-tab-group class="demo-tab-group">
    <mat-tab *ngFor="let sub of formattedSubs;let i = index;" label="{{sub}}">
        <app-posts [topic]="subs[i]"
                   style="padding: 1%;"
                   (notify)="update($event)"
                    (output)="addComment($event,postId)"></app-posts>
    </mat-tab>
  </mat-tab-group>

</mat-card>

<mat-card *ngIf="!auth.isAuthenticated()" >


  <div class="jumbotron" style="background: url('https://s3.amazonaws.com/hkonda-code/Ocean-Sky-Resort-Awesome-Background.jpg');">
    <h1 class="display-3 text-white">Hello!</h1>
    <p class="lead text-white">A Personalized News Feed for those Short on Time!</p>
    <hr class="my-4 ">
    <p class="text-white">Signup or Login To Get very Own Personalized News Feed</p>
    <p class="lead text-white">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>


    <app-posts [topic]=""  ></app-posts>

</mat-card>

