<div class="container-fluid col-sm-10" style="margin-top: 4%" *ngIf="auth.isAuthenticated()">


    <ul class="nav nav-tabs sticky-top">
      <li class="nav-item "
          *ngFor="let sub of formattedSubs;let i = index;">
        <a class="nav-link " [ngClass]="{'active': i == cur}" (click)="switchCur(i)" >{{sub}}</a>
      </li>


    </ul>
    <app-posts [topic]="subs[cur]" style="padding: 1%;"></app-posts>
</div>

<div *ngIf="!auth.isAuthenticated()" >


  <div class="jumbotron" style="background: url('https://s3.amazonaws.com/hkonda-code/Ocean-Sky-Resort-Awesome-Background.jpg');">
    <h1 class="display-3 text-white">Hello!</h1>
    <p class="lead text-white">A Personalized News Feed for those Short on Time!</p>
    <hr class="my-4 ">
    <p class="text-white">Signup or Login To Get very Own Personalized News Feed</p>
    <p class="lead text-white">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

  <div class="container-fluid">
    <app-posts [topic]="" ></app-posts>
  </div>

</div>

