
<mat-card>
  <mat-card-header>
    <mat-card-title>{{comment?.uid}}</mat-card-title>
    <mat-card-subtitle *ngIf="comment">{{comment.timestamp|amTimeAgo}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content style="font-size: large">{{comment?.text}}</mat-card-content>

  <mat-card-content *ngIf="!comment">
    Add a new comment

  </mat-card-content>

  <mat-card-content>
  <button mat-raised-button color="primary" (click)="ocBox()">
    <i class="fa fa-reply icon"></i>
  </button>
  </mat-card-content>
  <br>

  <div class="col-sm-12" *ngIf="showBox">
    <div class="panel panel-white post panel-shadow" style="padding: 2%">

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <textarea class="form-control" name="text" rows="6" ngModel required></textarea>
        <br>
        <button mat-raised-button color="primary" [disabled]="f.invalid">Post</button>
      </form>

    </div>
  </div>
  <mat-card-footer>
    <app-comment  *ngFor="let com of comment?.replies" [comment]="com" (notify)="onNotify($event)"></app-comment>
  </mat-card-footer>
</mat-card>



